@charset "UTF-8";

body{
    margin: 0%;
    background-color: #000000;
    cursor: url(../IMAGENS/cursor.png), default;
}

/*____________________CABEÇALHO GERAL/SITE INTEIRO__________________*/

.headerPrincipal{
    position: fixed;
    width: 220px; height: 100vh;
    background-color: #000000;
    border-right: 1px solid #f7f7f22d;
}
.articleHeaderPrincipal{
    width: 100%;
}
.navHeaderPrincipal{
    width: 100%;
}
.ulNavHeader{
    margin: 0%;
    padding: 0%;
}
.liUlNavHeader{
    list-style: none;
    color: #ffffff;
    margin-bottom: 23px;
}
.liUlNavHeaderLogo{
    margin-bottom: 60px;
}
.liUlNavHeaderMais{
    margin-top: 100px;
}
.ImgItemNavHeader{
    transition: all .1s;
}
.liUlNavHeader:hover .ImgItemNavHeader{
    transform: scale(1.1);
}
.ancoraLogoUlNavHeader{
    padding-top: 40px;
}
.ancoraLiUlNavHeader{
    display: flex;
    margin: 0px 20px;
    color: #F7F7F2;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 500;
    text-decoration: none;
}
.pAncoraLiUlnavHeader{
    margin: 0%;
    align-self: center;
    margin-left: 10px;
}

/*____________________MAIN GERAL/SITE INTEIRO____________________*/

.main{
    background-color: #000000;
    width: calc(100% - 220px); height: 100%;
    margin-left: 220px;
}




/*/*____________________MAIN PÁGINA INDEX____________________*/

.secContentMain{
    width: 100%;
}
.artContent{
    width: 75%;
    height: 100%;
    margin: auto;
    background-color: #7C898B;
    min-height: 100vh;
}
.divArtContent{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    gap: 10px;
}
.divArtColunLeft{
    width: 60%;
    height: 100%;
    background-color: #ff924f;
}
.navStories{
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
    background-color: #BA274A;
}
.navContent{
    width: 100%;
    height: 100%;
    background-color: #BA274A;
}
.divContenNavContent{
    margin-bottom: 25px;
}
.divTitleNavContent{
    width: 100%;
    height: 55px;
    background-color: #0000ff;
}
.divImgNavContent{
    width: 100%;
    height: 480px;
    background-color: #1616ff;
}
.divComentNavContent{
    width: 100%;
    height: 250px;
    background-color: #3030ff;
}

.divAside{
    width: 40%;
    height: 500px;
    background-color: #FF934F;
}




/*____________________MAIN PÁGINA EXPLORAR____________________*/

.divContents{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
}
.contentEx{
    width: 30%;
    height: 237px;
    border: 1px solid #1616ff;
    border-radius: 3px;
    margin: 10px 0px;
}

/*____________________MAIN PÁGINA REELS____________________*/

.artContentReels{
    width: 40%;
}
.divArtContent{
    padding-top: 20px;
}
.divArtColunLeftReels{
    width: 100%;
}

.divContentsReels{
    display: flex;
    margin-bottom: 15px;
}
.divMidia{
    width: 80%;
    height: 600px;
    background-color: #0000ff;
}
.divButtons{
    width: 20%;
    background-color: #3030ff;
}