@charset "UTF-8";

:root{
    color: #ffffff;
}
body{
    margin: 0%;
    background-color: #000000;
}
.margin0{
    margin: 0%;
}

/*____________________CABEÇALHO GERAL*/

.headerPrincipal{
    position: fixed;
    width: 220px; height: 100vh;
    background-color: #000000;
    border-right: 1px solid #f7f7f22d;
}
.articleNav{
    width: 100%;
}
.navMenu{
    width: 100%;
}
.ulMenu{
    margin: 0%;
    padding: 0%;
}
.liUlMenu{
    list-style: none;
    color: #ffffff;
    margin-bottom: 23px;
}
.liUlMenuLogo{
    padding-bottom: 60px;
    padding-top: 40px;
}
.liUlMenuMais{
    margin-top: 100px;
}
.iconLiUlMenu{
    transition: all .1s;
}
.liUlMenu:not(.liUlMenuLogo):hover .iconLiUlMenu{
    transform: scale(1.1);
}
.ancoraLiUlMenu{
    display: flex;
    margin: 0px 20px;
    color: #F7F7F2;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 500;
    text-decoration: none;
}
.pAncoraLiUlMenu{
    margin: 0%;
    align-self: center;
    margin-left: 10px;
}

/*____________________MAIN GERAL*/

.main{
    background-color: #000000;
    width: calc(100% - 220px); height: 100%;
    margin-left: 220px;
}




/*____________________MAIN PÁGINA INDEX*/

.secContentMain{
    width: 100%;
}
.artContent{
    width: 75%;
    height: 100%;
    margin: auto;
}
.divArtContent{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    gap: 10px;
}
.divArtColunLeft{
    width: 60%;
    height: 100%;
}

/*_______________STORIES*/

.navStories{
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.divContainerStorie{
    padding: 0px 5px;
    width: 70px;
    height: 100%;
}
.divImgStorie{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f7f7f22d;
}
.pNomeStorie{
    margin: 0%;
}

/*_______________POST*/

.navContent{
    width: 100%;
    height: 100%;
}
.contentPost{
    margin-bottom: 25px;
}
/*__________TOPO DO POST*/

.contentHeadPost{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f22d;
}
.contentUserHeadPost{
    display: flex;
    height: 100%;
}
.containerPointsHeadPost{
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 7px;
}
.contentImgUserHeadPost{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgUserHeadPost{
    width: 90%;
    height: 90%;
    background-color: #f7f7f22d;
    border-radius: 50%;
}
.txtHeadPost, .contentTxtUserHeadPost{
    align-self: center;
}
.pointsHeadPost{
    width: 4px;
    height: 4px;
    background-color: #F7F7F2;
    border-radius: 50%;
}

/*__________IMG DO POST*/

.BodyPost{
    width: 100%;
    height: 480px;
    background-color: #f7f7f260;
}

/*__________COMENTÁRIOS DO POST*/

.divComentPost{
    width: 100%;
    height: 160px;
    background-color: #f7f7f22d;
}
.divIconsComentPost{
    height: 15%;
    display: flex;
    justify-content: space-between;
}
.divTxtComentPost{
    height: 85%;
}

/*_______________ASIDE DA PÁGINA*/

.divAside{
    width: 40%;
    height: 600px;
}
.asideContent{
    height: 100%;
}

/*__________PARTE USER ASIDE*/

.divContentUserAside{
    background-color: #f7f7f260;
    height: 15%;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
}
.divImgTxtUserAside{
    display: flex;
    align-items: center;
    height: 100%;
}
.divImgUserAside{
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f7f7f22d;
}
.txtUserAside{
    margin: 0px 10px;
}
.divMUserAside{
    align-self: center;
}

/*__________PARTE VER TUDO ASIDE*/

.divVTAside{
    width: 100%;
    display: flex;
    background-color: #f7f7f22d;
    justify-content: space-between;
    padding: 7px 0px;
}

/*__________PARTE SUGESTÕES ASIDE*/

.divSugAside{
    background-color: #f7f7f22d;
}
.divContentSugAside{
    width: 100%;
    height: 100%;
}
.sugAside{
    width: 100%;
    height: 50px;
    display: flex;
}
.divImgUserSugAside{
    width: 15.15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divImgUser{
    width: 90%;
    height: 90%;
    background-color: #f7f7f22d;
    border-radius: 50%;
}
.divNameUserSugAside{
    width: 65%;
    height: 100%;
}
.divSeguirSugAside{
    width: 19.85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*__________PARTE FOOTER DO ASIDE*/

.divFooter{
    background-color: #f7f7f260;
    height: 10%;
}



/*____________________MAIN PÁGINA EXPLORAR____________________*/

.mainEx{
    background-color: #1a1a1a;
}
.contentItem{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
}
.item{
    width: 30%;
    height: 237px;
    border-radius: 3px;
    background-color: #f7f7f22d;
    margin: 10px 0px;
}

/*____________________MAIN PÁGINA REELS____________________*/

.artContentReels{
    width: 40%;
}
.divArtContent{
    padding-top: 20px;
}
.divArtColunLeftReels{
    width: 100%;
}

.divContentsReels{
    display: flex;
    margin-bottom: 15px;
}
.divMidia{
    width: 80%;
    height: 600px;
    background-color: #f7f7f22d;
}
.videoReel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.divMuteReels{
    width: 30px;
    height: 30px;
    background-color: #f7f7f22d;
    border-radius: 50%;
    margin: 15px 15px;
    align-self: flex-end;
}
.divDescReel{
    width: 100%;
    height: 100px;
    background-color: #f7f7f22d;
}
.divButtons{
    width: 20%;
    background-color: #f7f7f260;
}
.figureImgsButtonReels{
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.divItemButtonReels{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.divUserReels{
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #f7f7f22d;
    border-radius: 6px;
}
.imgUserReels{
    width: 93%;
    height: 93%;
    border-radius: 50%;
    background-color: #f7f7f22d;
    align-self: center;
    margin: auto;
}

/*____________________MAIN PÁGINA MENSAGENS____________________*/

.divContentMsg{
    width: 100%;
    height: 100vh;
    align-self: center;
}
.divTotal{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f7f7f22d;
}
.divLeftMsg{
    width: 40%;
    height: 100%;
}
.divHeadMsg{
    width: 100%;
    height: 10%;
    outline: 1px solid #ffffff;
}
.divBodyMsg{
    width: 100%;
    height: 90%;
    outline: 1px solid #ffffff;
}
.divRightMsg{
    width: 60%;
    height: 100%;
    outline: 1px solid #ffffff;
}